* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

:root {
    --bg-color: #00adb5;
    --btn-color: #eeeeee;
    --text-color: #393e46;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.btn:hover {
    background-color: var(--text-color);
    color: var(--btn-color);
    transform: scale(1.03);
    transition: all 0.15s;
    font-weight: bold;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

.title {
    color: var(--btn-color);
    text-align: center;
    margin-bottom: 50px;
}

.btn {
    color: var(--text-color);
    display: flex;

    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: var(--btn-color);
    width: 450px;
    height: 80px;
    font-size: 20px;
    cursor: pointer;
}

svg {
    position: relative;
    left: 50;
    fill: var(--text-color);
}

.btn:hover svg {
    fill: var(--btn-color);
}

.btn span {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.contact {
    font-size: 20;
    color: var(--btn-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 60px;
    width: 160px;
    border: var(--btn-color) solid 1px;

    cursor: pointer;
    position: relative;
}
.contact svg {
    position: absolute;
    left: 115;

    fill: var(--btn-color);
}
.contact span {
    position: absolute;
    left: 15;
}

.contact:hover {
    transform: scale(1.03);
    transition: all 0.15s;
    border: var(--btn-color) solid 2px;
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    .btn {
        color: var(--text-color);
        display: flex;

        justify-content: flex-start;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 25px;
        background-color: var(--btn-color);
        width: 85vw;
        height: 80px;
        font-size: 20px;
        cursor: pointer;
    }
    .contact span {
        display: none;
    }
    .contact svg {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .contact {
        width: 100px;
    }
}
